tensorflow==2.10.0
numpy<2
opencv-python
scikit-learn
matplotlib
jupyter
pandas
seaborn
tqdm
pyyaml
FreeSimpleGUI
# TensorBoard and TensorFlow ecosystem
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow-estimator==2.10.0
tensorflow-io-gcs-filesystem==0.31.0
tensorflow-directml-plugin==0.4.0.dev230202
